body {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  background: #e7e7e7;
}

h1 {
  font-weight: 900;
}

li {
  margin: 20px 2px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  color: #e7e7e7;
  padding: 10px;
  background-color: black;
  border: 2px solid black;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.flex-item:hover {
  background: #e7e7e7;
  border: 2px solid black;
  color: black;
}
